.enProgress{
    text-decoration: underline;
}
.proSession{
    font-style: italic;
}
.content{
    text-align: center;
}
.listCours{
    font-size: 18px;
    display: inline-block;
    text-align: left;
    list-style: url("rocket-icon.png");
    
}